*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

.body-home{
    color: aliceblue;
    background-color: #0d0e0e;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header-home{
    width: 100%;
    
}

.encabezado{
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;

}

.encabezado-home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.encabezado-home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.encabezado-home-section h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px beige;
    border: #0d0e0e;
}

.encabezado-home-section h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.encabezado-section-ul{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px;
    align-items: center;
    gap: 50px;
    
    
    
}

.encabezado-section-ul-li{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    
}

.encabezado-section-ul-li a{
    text-decoration: none;
    color: chartreuse;
    font-size: 25px;
    font-family: 'Arial Black', Helvetica, sans-serif;
        
}

.encabezado-section-ul-li a:hover{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: darkred;
}

.encabezado-home-nav-ul{
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.encabezado-home-nav-ul li{
    display: flex;
    justify-content: space-between;
}

.encabezado-home-nav-ul li a{
    text-decoration: none;
    color: chartreuse;
    font-size: 25px;
    
}



.footer-home{
    width: 100%;
}

.footer-home-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    color: blue;
}

.footer-home-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}