*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

.body-home{
    color: aliceblue;
    background-color: #0d0e0e;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header-home{
    width: 100%;
    
}

.encabezado{
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
   
}

.encabezado-home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    
}

.encabezado-home-logo img{
    width: 150px;
    border-radius: 250px;
    filter:drop-shadow(0px 7px 21px #ff0000);
    animation: rotar 20s linear infinite;
}

@keyframes rotar{
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
      }
      50% {
          -webkit-transform: rotateY(-360deg);
                  transform: rotateY(-360deg);
        }
      100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
      }
    }

.encabezado-home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.encabezado-home-section h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px #ff8800;
    border: #0d0e0e;
}

.encabezado-home-section h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.encabezado-section-ul{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px;
    align-items: center;
    gap: 50px;
    
    
    
}

.encabezado-section-ul-li{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    
}

.encabezado-section-ul-li a{
    text-decoration: none;
    color: chartreuse;
    font-size: 25px;
    font-family: 'Arial Black', Helvetica, sans-serif;
   
        
}

.encabezado-section-ul-li a:hover{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: darkred;
}

.encabezado-home-nav-ul{
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.encabezado-home-nav-ul li{
    display: flex;
    justify-content: space-between;
}

.encabezado-home-nav-ul li a{
    text-decoration: none;
    color: chartreuse;
    font-size: 25px;
    
}

.encabezado-home-nav-ul li a:hover{
    font-size: 50px;
    color: aqua;
}

.main_formulario{
    width: 850px;
    margin-top: 50px;
    background-color: transparent;
    box-shadow: 5px 5px #888888;
    border-radius: 15px;
    
}

.main_formulario_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #ff8800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}

.main_formulario_contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 850px;
    margin: auto;
}

.main_formulario_contenido_div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 400px;
    padding: 25px;
}

.main_formulario_contenido_div2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 800px;
    padding: 25px;
}


.main_formulario_contenido_input{
    height: 30px;
    border-radius: 10px;
    border: #00ff00;
    border-style: double;
    background-color: transparent;
    
}

.main_formulario_contenido_input:hover{
    border: #c7570c;
    background-color: aliceblue;
}

.main_formulario_contenido_label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    color: #ff8800;
    margin-bottom: 15px;
    margin-left: 25px;
    
}

.main_formulario_contenido_p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    color: #ff8800;
    
}

.main_formulario_contenido_textarea{
    height: 150px;
    border-radius: 10px;
    border: #00ff00;
    border-style: double;
    background-color: transparent;
}

.main_formulario_contenido_textarea:hover{
    border: #c7570c;
    background-color: aliceblue;
}

.main_formulario_contenido_boton{
    width: 500px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.main_formulario_contenido_boton_enviar{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #00ff00;
    border-style: double;
    background-color: transparent;
    color: #ff8800;
    font-family: 'Georgia black', 'Times New Roman', Times, serif;
}

.main_formulario_contenido_boton_enviar:hover{
    background-color: #00ff00;
    color: rgb(10, 10, 10);
}


.main_formulario_contenido_boton_limpiar{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #ff1100;
    border-style: double;
    background-color: transparent;
    color: #ff8800;
    font-family: 'Georgia black', 'Times New Roman', Times, serif;
}

.main_formulario_contenido_boton_limpiar:hover{
    background-color: #ff1100;
    color: aliceblue;
}

.footer-home{
    width: 100%;
}

.footer-home-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    color: blue;
}

.footer-home-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}